<footer class="footer">
    <div class="wrap-footer">
        <div class="footer-line"></div>
        <div class="footer-content">
            <div class="logo-footer">
                <a href="/"><div id="footer-logo" class="logo"></div></a>
                <div id="footer-title" class="title">Project "Advanced Tech Systems"</div>
            </div>
            <div class="footer-end">
                <div class="footer-last"><script>document.write(new Date().getUTCFullYear())</script> © Разработчик - A0L Все права защищены.</div>
            </div>
            <div class="footer-link">
                <a href="https://vk.com/alvarez8927" target="_blank"><div class="vk-link"></div></a>
                <a href="https://t.me/alvarez0l" target="_blank"><div class="tg-link"></div></a>
            </div>
        </div>
    </div>
</footer>