<content class="content">
    <div id="banner-back-i" class="banner-i-b">
        {{!-- <h2>BrainsTech Shop</h2> --}}
        <p class="info-p">
            {{!-- <span>Test</span> --}}
        </p>
    </div>
    <div class="i-content-wrap">
        <h2>Добро пожаловать в BrainsTech!</h2>
        <p>
            <span>Ваш проводник в мир высокопроизводительных технологий! Мы предлагаем широкий ассортимент</span>
            <span>компонентов для ПК и компьютерной техники от ведущих мировых производителей. У нас вы найдёте всё</span>
            <span>необходимое для сборки, апгрейда или ремонта вашего компьютера.</span>
        </p>
        <div class="achievements-wrap">
            <h2>Почему выбирают BrainsTech?</h2>
            <div class="achievements-p">
                <div class="achievements-content">
                    <div class="ach-h">Качество и надёжность</div>
                    <div class="ach-p">Только проверенные бренды и сертифицированная продукция.</div>
                </div>
                <div class="achievements-content">
                    <div class="ach-h">Широкий выбор</div>
                    <div class="ach-p">Процессоры, видеокарты, материнские платы, оперативная память, накопители и многое другое.</div>
                </div>
                <div class="achievements-content">
                    <div class="ach-h">Доступные цены</div>
                    <div class="ach-p">Регулярные акции и специальные предложения</div>
                </div>
            </div>
        </div>
        <div class="devs-wrap">
            <h2>Специализируемся и разрабатываем:</h2>
            <div class="devs-content">
                <div class="dev">
                    <div id="dev-b-1" class="dev-banner"></div>
                    <span class="dev-h">Florida</span>
                    <span class="dev-p">Программный комплекс автоматизации бизнес процессов</span>
                </div>
                <div class="dev">
                    <div id="dev-b-2" class="dev-banner"></div>
                    <span class="dev-h">Fiesta Pro</span>
                    <span class="dev-p">Программный комплекс полного управления предприятием</span>
                </div>
                <div class="dev">
                    <div id="dev-b-3" class="dev-banner"></div>
                    <span class="dev-h">ATC.guard</span>
                    <span class="dev-p">Программный комплекс предотвращающий возникновение и развитие аварийной ситуации</span>
                </div>
                <div class="dev">
                    <div id="dev-b-4" class="dev-banner"></div>
                    <span class="dev-h">ATC.cloudy</span>
                    <span class="dev-p">Облачный сервис автоматизации процессов технической эксплуатации</span>
                </div>
                <div class="dev">
                    <div id="dev-b-5" class="dev-banner"></div>
                    <span class="dev-h">ATC.works</span>
                    <span class="dev-p">Программный комлпекс совмещающий в себе все необходимые инструменты для предприятия</span>
                </div>
                <div class="dev">
                    <div id="dev-b-6" class="dev-banner"></div>
                    <span class="dev-h">ATC.fly</span>
                    <span class="dev-p">Программный комплекс создания чертежей и схем</span>
                </div>
                <div class="dev">
                    <div id="dev-b-7" class="dev-banner"></div>
                    <span class="dev-h">ATC.colos</span>
                    <span class="dev-p">Программный комплекс управления техническим обслуживанием </span>
                </div>
                <div class="dev">
                    <div id="dev-b-8" class="dev-banner"></div>
                    <span class="dev-h">ATC.placer</span>
                    <span class="dev-p">Программный комплекс визуального контроля и управления средствами</span>
                </div>
            </div>
        </div>
        <div class="last-info">
    </div>
</content>