<content class="content">
    <div id="banner-back-i" class="banner-i-b">
        {{!-- <h2>BrainsTech Shop</h2> --}}
        <p class="info-p">
            {{!-- <span>Test</span> --}}
        </p>
    </div>
    <div class="i-content-wrap">
        <h2>Немного о нас:</h2>
        <p>
            <span>Advanced Technological Systems (ATS) — начинающий Российский разработчик программного и информационного обеспечения для управления жизненным циклом сложных наукоёмких продуктов.</span>
            <span>Мы предоставляем нашим клиентам возможность оптимизировать процесс эксплуатации, контролировать надёжность оборудования и инфраструктуры, увеличивать прибыльность и стоимость их предприятий благодаря эффективному управлению.</span>
        </p>
        <div class="achievements-wrap">
            <h2>Почему именно мы?</h2>
            <div class="achievements-p">
                <div class="achievements-content">
                    <div class="ach-h">5 лет</div>
                    <div class="ach-p">работы на Российском рынке IT-технологий</div>
                </div>
                <div class="achievements-content">
                    <div class="ach-h">3 года</div>
                    <div class="ach-p">гарантия на все наши продукты, начиная со дня старта эксплуатации</div>
                </div>
                <div class="achievements-content">
                    <div class="ach-h">23 проекта</div>
                    <div class="ach-p">были спонсированы государством за инновационность</div>
                </div>
            </div>
        </div>
        <div class="devs-wrap">
            <h2>Специализируемся и разрабатываем:</h2>
            <div class="devs-content">
                <div class="dev">
                    <div id="dev-b-1" class="dev-banner"></div>
                    <span class="dev-h">Florida</span>
                    <span class="dev-p">Программный комплекс автоматизации бизнес процессов</span>
                </div>
                <div class="dev">
                    <div id="dev-b-2" class="dev-banner"></div>
                    <span class="dev-h">Fiesta Pro</span>
                    <span class="dev-p">Программный комплекс полного управления предприятием</span>
                </div>
                <div class="dev">
                    <div id="dev-b-3" class="dev-banner"></div>
                    <span class="dev-h">ATC.guard</span>
                    <span class="dev-p">Программный комплекс предотвращающий возникновение и развитие аварийной ситуации</span>
                </div>
                <div class="dev">
                    <div id="dev-b-4" class="dev-banner"></div>
                    <span class="dev-h">ATC.cloudy</span>
                    <span class="dev-p">Облачный сервис автоматизации процессов технической эксплуатации</span>
                </div>
                <div class="dev">
                    <div id="dev-b-5" class="dev-banner"></div>
                    <span class="dev-h">ATC.works</span>
                    <span class="dev-p">Программный комлпекс совмещающий в себе все необходимые инструменты для предприятия</span>
                </div>
                <div class="dev">
                    <div id="dev-b-6" class="dev-banner"></div>
                    <span class="dev-h">ATC.fly</span>
                    <span class="dev-p">Программный комплекс создания чертежей и схем</span>
                </div>
                <div class="dev">
                    <div id="dev-b-7" class="dev-banner"></div>
                    <span class="dev-h">ATC.colos</span>
                    <span class="dev-p">Программный комплекс управления техническим обслуживанием </span>
                </div>
                <div class="dev">
                    <div id="dev-b-8" class="dev-banner"></div>
                    <span class="dev-h">ATC.placer</span>
                    <span class="dev-p">Программный комплекс визуального контроля и управления средствами</span>
                </div>
            </div>
        </div>
        <div class="last-info">
    </div>
</content>